<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8"/>
        <meta author="Fredy Goolberth Quispe Neira"/>
        <meta keywords="PyMySQL, CSS, HTML, JS, Python, Flask"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout.css') }}"/>
        {% block style_css %}{% endblock %}
        <script type="text/javascript" language="javascript" srrc="{{ url_for('static', filename='js/layout.js') }}"></script>
    </head>
    <body>
        <header id="title">
            Sistema De Control de Servicio de Parqueo
        </header>
        <div id="div">{%block content%}{% endblock %}</div>
        <footer id="footer">
            <a href="/">Libro de Reclamaciones</a>
            <p><a href="mailto: fredy.quispe@ucsp.edu.pe">Contáctanos</a></p>
            <p>Todos los Derechos Reservados 2022-01</p>
        </footer>
    </body>
</html>